<div class="container">
    <h1>
        <a href="mailto:vvictori@my.centennialcollege.ca" style="color:black;">
            <%= title %>
        </a>
        </a>
    </h1>

    <body></body>

</div>