<div class="container" style="margin: 0 auto;
height: 100%;
background-size: cover;
border-radius:10px;
background-image: url(content/images/skyline.jpg);
/*no-repeat center fixed;*/
width: 100%;">

    <h1>
        <%= title %>
    </h1>

    <body>
        <h1 id="homeMessage">Welcome to my website, thanks for coming.</h1>

    </body>

</div>