<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
        <h5 id="copyright">&copy; Copyright Vanessa Victorino - Fall 2022 - email:
            <a href="mailto:vvictori@my.centennialcollege.ca" style="color:#20B2AA;">vvictori@my.centennialcollege.ca</a>
        </h5>
    </div>
</nav>